body {
	color: #333;
}

.countdown {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 125pt;
	color: black;
	background-color: white;
}

.countdown div {
	position: relative;
	top: 50%;
	text-align: center;
	transform: translate(0%, -50%);
}

button {
	font-size: 35pt;
	padding: 15px;
	background-color: #E0E0E0;
	border-radius: 15px;
	border: 0;
	color: #555;
}

button:active, button:focus {
	outline: 0 !important;
}

.countdown div div {
	margin-top: 25px;
	font-size: 75pt;
}



.message {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 125pt;
	color: black;
	background-color: white;
}

.message div {
	position: relative;
	top: 50%;
	text-align: center;
	transform: translate(0%, -50%);
}


select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #E0E0E0;
    background-repeat: no-repeat;
	border-radius: 5px;
	border: 0;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 45pt;
	width: 400px;
	padding: 10px;
}

select:active, select:focus {
	outline: 0 !important;
}